@model List<WebApplication.Model.Issue>

@{
    ViewBag.Title = "GridView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Head {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/GridView.css")" />
    <script type="text/javascript" src="@Url.Content("~/Content/GridView.js")"></script>
}

@section PageToolbar {
    <div class="container-fluid">
        <div class="col">
            <br />
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                </ol>
            </nav>
            <hr>
        </div>
    </div>
}
@section RightPanelContent {
    <div class="settings-content">
        <h2 class="text-center">Tùy chọn khác</h2>
        <ul class="list-group">
            <button class="button list-group-item list-group-item-action" onclick="filterPanel.Toggle();rightPanel.Toggle()">Tìm kiếm</button>
            <button class="button list-group-item list-group-item-action" onclick="gridView.ExportTo(ASPxClientGridViewExportFormat.Xlsx);rightPanel.Toggle()">Xuất Excel</button>
            <button class="button list-group-item list-group-item-action" onclick="gridView.ShowCustomizationDialog();rightPanel.Toggle()">Tùy chỉnh bảng</button>
            <button class="button list-group-item list-group-item-action" onclick="gridView.Refresh();rightPanel.Toggle()">Làm mới</button>
        </ul>
        @Html.Partial("_PartialPage_Themes")
    </div>
}
<div class="text-content" style="padding-top:15px">
    <h3>Tiêu đề</h3>
    <p>text</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Action("GridViewPartial", "GridView")
    }
</div>